
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-twitter:before { content: '\f304'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */